.content-area {
	background-color: $beige;
	padding: 1em 20px;
	min-height: 100vh;

	@media screen and (min-width: $bp-md) {
		width: 50%;
		min-width: 500px;
		max-width: 700px;
		padding: 3em 60px;
		transition: transform .3s ease-out;

		&.toggled {
			transform: translateX( 320px );
		}
	}
}

.entry-content {
	max-width: 500px;
}