input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	color: $color__text-input;
	border: none !important;
	padding: 10px 10px 5px;
	line-height: 1;

	&:focus {
		color: $color__text-input-focus;
	}
}

select {
	border: 1px solid $color__border-input;
}

textarea {
	width: 100%;
}

.nf-form-fields-required {
	display: none;
}

.form-intro-text {
	font-size: 1.25em;
}

.nf-field-element p {
	margin: 0;
	margin-top: 20px;
}